<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br>
<br>
<br>
<br>

<form action="{% url 'thanks_page'%}" method="">
    <label>Имя</label>
    <input name="name">
    <label>Старт курса</label>
    <input name="start">
    <label>Конец курса</label>
    <input name="end">
    <label>Количество лекций</label>
    <input name="quantity">
    <button type="submit">Добавить курс</button>
</form>
<br>
<br>
<br>
<br>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Название курса</th>
        <th>Начало курса</th>
        <th>Конец курса</th>
        <th>Количество лекций</th>
    </tr>
{% for obj in object_list %}
    <tr>
        <th>{{ obj.id }}</th>
        <th>{{ obj.course_name }}</th>
        <th>{{ obj.course_start }}</th>
        <th>{{ obj.course_end }}</th>
        <th>{{ obj.lecture_quant }}</th>
    </tr>
{% endfor %}
</table>
</body>
</html>